<h1>Notebook to transform data in Wikipedia to a pandas dataframe</h1>

<h5>Let us start by importing pandas dataframe to process the data</h5>

In [1]:
import pandas as pd

<h5>
<a href="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M">This is url of Wikipedia page with required data which we will extract using read_html function </a> <br>

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df_bor=pd.read_html(url)
df_b=df_bor[0]
df_b.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

<h5> To remove rows with non-assigned boroughs </h5>

In [3]:
q_df=df_b.query('Borough!="Not assigned"')
q_df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<h5> To group neighbourhoods by common postal code and separate multiple neighbourhoods with same postal code by commas</h5>

In [4]:
g_df =q_df.groupby(['Postal Code','Borough'],as_index=False).agg(lambda x: ", ".join(x))
g_df.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [5]:
for i in range (0,len(g_df)):
 if g_df.at[i,'Neighbourhood']=='Not assigned':
    g_df.at[i,'Neighbourhood']=g_df.at[i,'Borough']

In [6]:
g_df.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

<h5> To see if obtained table is accurate to the one to be obtained </h5>

In [7]:
col_nam = ["Postal Code", "Borough", "Neighbourhood"]
check_frame = pd.DataFrame(columns=col_nam)

pc_list= ["M5G", "M2H", "M4B", "M1J", "M4G", "M4M", "M1R", "M9V", "M9L", "M5V", "M1B", "M5A"]

for pc in pc_list:
    check_frame = check_frame.append(g_df[g_df["Postal Code"]==pc], ignore_index=True)
    
check_frame

,Postal Code,Borough,Neighbourhood
0,M5G,Downtown Toronto,Central Bay Street
1,M2H,North York,Hillcrest Village
2,M4B,East York,"Parkview Hill, Woodbine Gardens"
3,M1J,Scarborough,Scarborough Village
4,M4G,East York,Leaside
5,M4M,East Toronto,Studio District
6,M1R,Scarborough,"Wexford, Maryvale"
7,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
8,M9L,North York,Humber Summit
9,M5V,Downtown Toronto,"CN Tower, King and Spadina, Railway Lands, Har..."
10,M1B,Scarborough,"Malvern, Rouge"
11,M5A,Downtown Toronto,"Regent Park, Harbourfront"

<h5> To print number of rows in dataframe </h5>

In [8]:
g_df.shape

(103, 3)

<h5> Export the dataframe to csv file for ease in use by importing next week </h5>

In [10]:
g_df.to_csv("Neighbourhoods.csv",index=False)